In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2023-ml-w4p2/train.csv
/kaggle/input/2023-ml-w4p2/test.csv
/kaggle/input/2023-ml-w4p2/sample_submit.csv

In [2]:
train = pd.read_csv("/kaggle/input/2023-ml-w4p2/train.csv")
test = pd.read_csv("/kaggle/input/2023-ml-w4p2/test.csv")
submit = pd.read_csv("/kaggle/input/2023-ml-w4p2/sample_submit.csv")

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34170 entries, 0 to 34169
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            34170 non-null  int64
 1   company       34170 non-null  int64
 2   model         34170 non-null  object
 3   year          34170 non-null  int64
 4   transmission  34170 non-null  int64
 5   mileage       34170 non-null  int64
 6   fueltype      34170 non-null  int64
 7   tax           34170 non-null  int64
 8   mpg           34170 non-null  float64
 9   engineSize    34170 non-null  float64
 10  price         34170 non-null  int64
dtypes: float64(2), int64(8), object(1)
memory usage: 2.9+ MB

In [4]:
train.head(3)

,ID,company,model,year,transmission,mileage,fueltype,tax,mpg,engineSize,price
0,0,4,Auris,2015,1,47541,4,145,46.3,1.6,8095
1,1,0,X2,2018,3,5000,0,145,50.4,2.0,21726
2,2,2,Focus,2017,3,47018,4,145,51.4,1.0,10490

In [5]:
test.head(3)

,ID,company,model,year,transmission,mileage,fueltype,tax,mpg,engineSize
0,0,2,Ka+,2017,1,10150,4,145,57.7,1.2
1,1,2,Kuga,2013,1,50216,0,145,53.3,2.0
2,2,3,Q5,2016,1,34189,0,200,47.9,2.0

In [6]:
X = train.drop(['ID','price'],axis=1)
Y = train['price']
test.drop(['ID'],axis=1,inplace=True)

In [7]:
X.head(3)

,company,model,year,transmission,mileage,fueltype,tax,mpg,engineSize
0,4,Auris,2015,1,47541,4,145,46.3,1.6
1,0,X2,2018,3,5000,0,145,50.4,2.0
2,2,Focus,2017,3,47018,4,145,51.4,1.0

In [8]:
test.head(3)

,company,model,year,transmission,mileage,fueltype,tax,mpg,engineSize
0,2,Ka+,2017,1,10150,4,145,57.7,1.2
1,2,Kuga,2013,1,50216,0,145,53.3,2.0
2,3,Q5,2016,1,34189,0,200,47.9,2.0

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(X['model'])
X['model']=le.transform(X['model'])
test['model']=le.transform(test['model'])

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size= 0.8,random_state=1)

In [11]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
x_train_std = ss.fit_transform(x_train)
x_test_std = ss.transform(x_test)
test_std = ss.transform(test)

In [12]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt

In [13]:
def whats_the_best(path,x_train,x_test,y_train=y_train,y_test=y_test,neighbors_max=15,weights='distance'):
    neighbors_list = range(1,neighbors_max+1)

    train_accuracy_list=[]
    test_accuracy_list=[]

    for i in neighbors_list:
        knn = KNeighborsRegressor(n_neighbors=i, p=path, weights=weights)
        knn.fit(x_train, y_train)
        train_predict = knn.predict(x_train)
        test_predict = knn.predict(x_test)
        train_MAE = mean_absolute_error(y_train,train_predict)
        test_MAE = mean_absolute_error(y_test,test_predict)
        train_accuracy_list.append(train_MAE)
        test_accuracy_list.append(test_MAE)
        print(i, train_MAE, test_MAE)
    
    return neighbors_list, train_accuracy_list, test_accuracy_list

In [14]:
# neighbors_num, train_accuracy, test_accuracy = whats_the_best(1,x_train,x_test,weights='uniform')
# plt.title('StandardScaler and Manhattan and uniform')
# plt.plot(neighbors_num,train_accuracy)
# plt.plot(neighbors_num,test_accuracy)
# plt.xlabel('num of neighbors')
# plt.ylabel('accuracy')
# plt.legend(['train', 'test']) 
# plt.show()

In [15]:
# neighbors_num, train_accuracy, test_accuracy = whats_the_best(1,x_train,x_test,weights='distance')
# plt.title('StandardScaler and Manhattan and uniform')
# plt.plot(neighbors_num,train_accuracy)
# plt.plot(neighbors_num,test_accuracy)
# plt.xlabel('num of neighbors')
# plt.ylabel('accuracy')
# plt.legend(['train', 'test']) 
# plt.show()

In [16]:
# neighbors_num, train_accuracy, test_accuracy = whats_the_best(2,x_train,x_test,weights='uniform')
# plt.title('StandardScaler and Manhattan and uniform')
# plt.plot(neighbors_num,train_accuracy)
# plt.plot(neighbors_num,test_accuracy)
# plt.xlabel('num of neighbors')
# plt.ylabel('accuracy')
# plt.legend(['train', 'test']) 
# plt.show()

In [17]:
# neighbors_num, train_accuracy, test_accuracy = whats_the_best(2,x_train,x_test,weights='distance')
# plt.title('StandardScaler and Manhattan and uniform')
# plt.plot(neighbors_num,train_accuracy)
# plt.plot(neighbors_num,test_accuracy)
# plt.xlabel('num of neighbors')
# plt.ylabel('accuracy')
# plt.legend(['train', 'test']) 
# plt.show()

In [18]:
ss2 = StandardScaler()
X_std = ss2.fit_transform(X)
test_std = ss2.transform(test)

In [19]:
knn = KNeighborsRegressor(n_neighbors=6, p=1, weights='distance')
knn.fit(X_std, Y)
predict = knn.predict(test_std)

In [20]:
submit['price']= predict
submit=submit.astype(np.int32)
submit.to_csv('submit.csv', mode='w', header= True, index= False)